In [92]:
class vehicle:
  def __init__(self,name_of_vehicle,max_speed,average_of_vehicle):
    self.name_of_vehicle = name_of_vehicle
    self.max_speed = max_speed
    self.average_of_vehicle = average_of_vehicle

class car(vehicle):
  def __init__(self,name_of_vehicle,max_speed,average_of_vehicle):
    vehicle.__init__(self,name_of_vehicle,max_speed,average_of_vehicle)


  def seating_capacity(self, capacity):
    self.capacity=capacity
    return (f"Car's name: {self.name_of_vehicle}, Capacity: {self.capacity}")

In [95]:
car1 = car('car1_name',120,'avg vehicle')
car1.seating_capacity(3)

"Car's name: car1_name, Capacity: 3"

Q4 --> OOP

In [65]:
class Person:
  def __init__(self,name,age,gender):
    self.name=name
    self.__age=age
    self.gender=gender

  def say_hello(self):
    print(f'Hi, may name is {self.name}')

  def is_adult(self):
    if(self.age>=18):
      return True
    else:
      return False

  def get_age(self):
    return self.__age

  def set_age(self,age):
    self.__age=age

In [81]:
class student(Person):
  def __init__(self,name,age,gender):
    Person.__init__(self,name,age,gender)

  def set_info(self,student_id,course):
    self.student_id=student_id
    self.course=course


  def say_hello(self):
    print(f'Students name: {self.name} ')

In [82]:
class Teacher(Person):
  def __init__(self,name,age,gender):
    Person.__init__(self,name,age,gender)


  def set_info(self,teacher_id,subject):
    self.teacher_id=teacher_id
    self.subject=subject


  def say_hello(self):
    print(f' Teachers name: {self.name}, teacher ID: {self.teacher_id} ')

In [83]:
std1=student('juan',23,'male')
std1.set_info(123,'122')
std1.say_hello()

tch1=Teacher('marco',50,'male')
tch1.set_info(100000001,'Databases')
tch1.say_hello()

Students name: juan
 Teachers name: marco, teacher ID: 100000001

In [86]:
#Q4 ENCAPSULATION

std1=student('juan',23,'male')
std1.set_info(123,'122')
std1.say_hello()

tch1=Teacher('marco',50,'male')
tch1.set_info(100000001,'Databases')
tch1.say_hello()
tch1.get_age()
tch1.set_age(12)
tch1.get_age()

Students name: juan
 Teachers name: marco, teacher ID: 100000001

12